body {
    background-color: #6FF5FE;
}

h1 {
    color: black;
    text-align: center;
}
td, th {
    font-family: helvetica;
    font-size: 2em;
    color:black;
}
p {
    font-family: helvetica sans-serif;
    font-size: 20px;
}