body 
{
    background-color: #79B6ED;
    text-align: center;
}


tds
{
    padding-top: 25px;
}


td
{
    font-family: sans-serif;
    font-size: medium;
    font-style: oblique;
}

td2
{
    font-weight: bold;
    text-align: center;
    font-size: 1.7em;
}

td1
{
    font-family: cursive;
    font-size: 1.3em;
    text-align: center;
}
th
{
     font-size: 1.7em;
     text-align-last: center;
}